@import '../../style/elevation.scss';
// TODO: get rid of this.
@import '~@material/ripple/mdc-ripple';

:host {
    display: inline-block;
    --wcs-button-padding: calc(var(--wcs-padding) / 2) var(--wcs-padding);
    --wcs-button-color: var(--wcs-contrast, var(--wcs-white, white));
    --wcs-button-background-color: var(--wcs-base, var(--wcs-primary, #0088CE));
    --wcs-button-ripple-color: var(--wcs-contrast, var(--wcs-white, white));
    --wcs-button-border-radius: var(--wcs-border-radius);
    --wcs-button-border-color: var(--wcs-base);
}

:host([mode=clear]) {
    --wcs-button-border-color: transparent;

    .wcs-inner-button {
        box-shadow: none;
    }
}

:host([mode=clear]),
:host([mode=stroked]) {
    --wcs-button-color: var(--wcs-base);
    --wcs-button-background-color: transparent;

    .wcs-inner-button {
        &::before,
        &::after {
            --wcs-button-ripple-color: var(--wcs-base);
        }
    }
}

:host([shape=small]) {
    --wcs-button-padding: 2px 16px;

    .wcs-inner-button {
        min-width: var(--wcs-button-min-width, unset);
        min-height: var(--wcs-button-min-height, unset);
    }
}

:host([shape=round]) {
    --wcs-button-padding: 0;
    --wcs-button-border-radius: 50%;

    .wcs-inner-button {
        min-width: var(--wcs-button-min-width, 42px);
        min-height: var(--wcs-button-min-height, 42px);
    }
}

:host([shape=square]) {
    --wcs-button-padding: 0;

    .wcs-inner-button {
        min-width: var(--wcs-button-min-width, 42px);
        min-height: var(--wcs-button-min-height, 42px);
    }
}

:host([shape=normal]) {
    --wcs-button-padding: calc(var(--wcs-padding) / 2 + 1px) calc(var(--wcs-padding));

    .wcs-inner-button {
        min-width: var(--wcs-button-min-width, unset);
        min-height: var(--wcs-button-min-height, unset);
    }
}

:host([mode=stroked]) {
    .wcs-inner-button {
        box-shadow: inset 0 0 0 1px var(--wcs-button-border-color);
    }
}

:host([loading]) {
    position: relative;

    .wcs-inner-button > *:not(wcs-spinner) {
        visibility: hidden;
        opacity: 0;
    }

    wcs-spinner {
        height: 24px;
        width: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

:host([disabled]), :host([loading]) {
    :host(not[loading]) {
        --wcs-button-background-color: var(--wcs-light);
    }
    --wcs-button-color: var(--wcs-text-disabled);
    cursor: not-allowed;

    .wcs-inner-button {
        // Fix for stroked button
        --wcs-button-border-color: var(--wcs-light);
        opacity: 1;
        cursor: default;
        pointer-events: none;
    }

    &:host([mode=clear]),
    &:host([disabled]) {
        --wcs-button-background-color: transparent;
    }
}

.wcs-inner-button {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states-hover-opacity(.1);
    @include mdc-states-focus-opacity(.2);
    @include mdc-states-press-opacity(.3);
    @include mdc-states-base-color(white);

    // This property is used to set the ripple color
    &::before,
    &::after {
        background-color: var(--wcs-button-ripple-color);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: var(--wcs-font-sans-serif);
    background-color: var(--wcs-button-background-color);
    color: var(--wcs-button-color);
    padding: var(--wcs-button-padding);
    border-radius: var(--wcs-button-border-radius);
    border: none;
    overflow: hidden;
    outline: 0;
    text-transform: none;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;

    transition: color 175ms ease-in-out, background-color 175ms ease-in-out, wcs-elevation-transition();

    &:focus {
        @include wcs-elevation(1);
    }

    &:hover {
        @include wcs-elevation(2);
    }
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

// Remove mozilla dotted outline on button and a
button::-moz-focus-inner,
a::-moz-focus-inner {
    border: 0;
}
