:host {
    --wcs-textarea-icon-color: var(--wcs-text-medium);
    --wcs-internal-textarea-border-radius-left: var(--wcs-textarea-border-radius-left, var(--wcs-border-radius));
    --wcs-internal-textarea-border-radius-right: var(--wcs-textarea-border-radius-right, var(--wcs-border-radius));
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: var(--wcs-internal-textarea-border-radius-left) var(--wcs-internal-textarea-border-radius-right) var(--wcs-internal-textarea-border-radius-right) var(--wcs-internal-textarea-border-radius-left);
    background-color: var(--wcs-light);
    border: 1px solid var(--wcs-light);
    background-clip: padding-box;

    ::placeholder {
        font-weight: 400;
        font-style: italic;
    }

    textarea {
        overflow: auto;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        min-height: 24px;
        background-color: transparent;
        font-family: var(--wcs-font-sans-serif);
        color: var(--wcs-primary);
        font-weight: var(--wcs-font-weight-form-value) !important;
        border: none;
        padding: calc(var(--wcs-padding) / 2) var(--wcs-padding);
        font-size: 1rem;
        line-height: 1.5;
    }

    textarea:focus {
        box-shadow: none;
        outline: 0;
    }


    wcs-mat-icon {
        position: relative;
        margin-top: 7px;
        margin-left: 8px;
        margin-right: -8px;
    }
}

:host([disabled]) {
    textarea {
        color: var(--wcs-text-disabled);
        cursor: not-allowed;
    }
}

:host([state=error]) {
    border-color: var(--wcs-red) !important;
}

:host(:focus-within) {
    border: solid 1px var(--wcs-primary);

    wcs-mat-icon {
        color: var(--wcs-primary);
    }
}
