:host {
    --wcs-switch-background-color-initial: var(--wcs-text-light);
    --wcs-switch-background-color-final: var(--wcs-primary);

    --wcs-switch-bullet-color-initial: var(--wcs-switch-background-color-final);
    --wcs-switch-bullet-color-final: var(--wcs-switch-background-color-initial);

    --wcs-switch-text-color: var(--wcs-text-medium);

    display: flex;
}

:host([disabled]) {
    --wcs-switch-text-color: var(--wcs-text-disabled);

    .wcs-container {
        cursor: not-allowed;
    }
}

/* Customize the label (the wcs-container) */
.wcs-container {
    position: relative;
    display: flex;
    margin-bottom: 0;
}

/* Let the user choose the alignment of the checkbox with the label text */
:host([label-alignment="top"]) {
    .wcs-container {
        align-items: start;
    }
}

:host([label-alignment="center"]) {
    .wcs-container {
        align-items: center;
    }
}

:host([label-alignment="bottom"]) {
    .wcs-container {
        align-items: flex-end;
    }
}

/* Hide the browser's default switch */
.wcs-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.text {
    color: var(--wcs-switch-text-color);
    margin-left: 6px;
    font-weight: 500;
    line-height: 1.375;
}

.wcs-container:not([aria-disabled]) input:checked ~ .text {
    --wcs-switch-text-color: var(--wcs-primary);
}

.wcs-checkmark::before {
    position: absolute;
    transition: all .15s ease-out;
}

.wcs-checkmark::before {
    bottom: 0.3125rem;
    left: 0.3125rem;
    width: 0.875rem;
    height: 0.875rem;
    content: "";
    border-radius: 50%;
    background-color: var(--wcs-switch-bullet-color-initial);
}

:host([disabled]:not([checked])) {
    .wcs-checkmark::before {
        background-color: var(--wcs-text-disabled);
    }

    .wcs-checkmark {
        background-color: var(--wcs-light);
    }
}

:host([disabled][checked]) {
    .wcs-checkmark::before {
        background-color: var(--wcs-white);
    }

    .wcs-checkmark {
        background-color: var(--wcs-text-disabled);
    }
}

.wcs-checkmark {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--wcs-switch-background-color-initial);
}

.wcs-container:not([aria-disabled]) {
    cursor: pointer;
}

.wcs-container:hover:not([aria-disabled]) {
    --wcs-switch-text-color: var(--wcs-primary);
}

/* When the switch is checked, change the bullet to grey */
input:not([disabled]):checked + .wcs-checkmark::before,
.wcs-container:hover input:not([disabled]) + .wcs-checkmark::before,
.wcs-container:focus input:not([disabled]) + .wcs-checkmark::before {
    background-color: var(--wcs-switch-bullet-color-final);
}

/* Switch transition */
input:checked + .wcs-checkmark::before {
    transform: translateX(24px);
}

/* When the switch is checked, change background to blue */
input:not([disabled]):checked + .wcs-checkmark,
.wcs-container:hover input:not([disabled]) + .wcs-checkmark,
.wcs-container:focus input:not([disabled]) + .wcs-checkmark {
    background-color: var(--wcs-switch-background-color-final);
}
