@import '../../style/ripple.scss';

wcs-select-option {
    @include ripple;
    display: flex;
    padding: 0 var(--wcs-padding);
    height: var(--wcs-select-option-height);
    line-height: 42px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--wcs-black);

    &:hover {
        color: var(--wcs-primary);
        background-color: var(--wcs-light);
    }
}

wcs-select-option[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--wcs-text-disabled);
}

wcs-select-option[selected] {
    color: var(--wcs-primary);
    background-color: var(--wcs-light);
}

wcs-select-option[multiple] {
    wcs-checkbox {
        pointer-events: none;
        // Because 6px are left as of now from the empty span text.
        margin-right: #{16 - 6}px;
    }
    &:hover{
        wcs-checkbox {
            --wcs-checkbox-border-color: var(--wcs-primary);
        }
    }
}
