:host {
    --wcs-checkbox-border-color: var(--wcs-text-medium);
    --wcs-checkbox-text-color: var(--wcs-text-medium);
    display: flex;
}

:host([disabled]) {
    --wcs-checkbox-border-color: var(--wcs-light);
    --wcs-checkbox-text-color: var(--wcs-text-disabled);

    .wcs-container {
        cursor: not-allowed;
    }
}

.wcs-checkmark {
    transition: background-color 225ms cubic-bezier(.17, .84, .44, 1),
        color 225ms cubic-bezier(.17, .84, .44, 1);
}

/* Customize the label (the wcs-container) */
.wcs-container {
    position: relative;
    font-size: 1rem;
    user-select: none;
    font-weight: 500;
    display: flex;
}

.wcs-container:not([aria-disabled]) {
    cursor: pointer;
}

/* Let the user choose the alignment of the checkbox with the label text */
:host([label-alignment="top"]){
    .wcs-container {
        align-items: start;
    }
}

:host([label-alignment="center"]){
    .wcs-container {
        align-items: center;
    }
}

:host([label-alignment="bottom"]){
    .wcs-container {
        align-items: flex-end;
    }
}

/* Hide the browser's default checkbox */
.wcs-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.wcs-container:hover:not([aria-disabled]), input:focus {
    --wcs-checkbox-border-color: var(--wcs-primary);

    --wcs-checkbox-text-color: var(--wcs-primary);
}

/* Create a custom checkbox */
.wcs-checkmark {
    flex: 0 0 1.125rem;
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid var(--wcs-checkbox-border-color);
    border-radius: 3px;
}

:host([indeterminate]) {
    .wcs-checkmark {
        --wcs-checkbox-border-color: var(--wcs-primary);
        background: var(--wcs-primary);
    }
}

/* When the checkbox is checked, add a blue background */
.wcs-container:not([aria-disabled]) input:checked~.wcs-checkmark {
    background-color: var(--wcs-primary);
    --wcs-checkbox-border-color: var(--wcs-primary);
}
.wcs-container[aria-disabled] input:checked~.wcs-checkmark {
    background-color: var(--wcs-light);
    --wcs-checkbox-border-color: var(--wcs-light);
}

/* Create the wcs-checkmark/indicator (hidden when not checked) */
.wcs-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the wcs-checkmark when checked */
.wcs-container input:checked~.wcs-checkmark:after {
    display: flex;
}



/* Style the wcs-checkmark/indicator */
.wcs-container .wcs-checkmark:after {
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid var(--wcs-white, white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wcs-container:not([aria-disabled]) input:checked~.text {
    --wcs-checkbox-text-color: var(--wcs-primary);
}

.text {
    color: var(--wcs-checkbox-text-color);
    margin-left: 6px;
    font-weight: 500;
    line-height: 1.375;
}
